.counter_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  .icon_button {
    border: none;
    padding: 0;

    .icon {
      width: 24px;
      height: 24px;
    }
  }

  .icon_button:disabled {
    .icon {
      color: var(--background-color3);
    }
  }

  .info_container {
    flex-basis: 20px;
    text-align: center;
  }
}