.card {
  width: 236px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  border: 1px solid var(--border-color);


  .image_container {
    width: 100%;
    height: 300px;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: flex-end;

    .card_image {
      width: 100%;
    }

    .zoom{
      color: rgb(0,0,0,0.3);
      z-index: 10;
      position: absolute;
      margin-right: 10px;
      margin-bottom: 10px;
      font-size: 18px;
      cursor: pointer;
    }
  }

  .card_body {
  }

  .card_body > * {
    padding: 5px 20px;
  }

  .title {
    background-color: var(--background-color4);
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 0px;
  }

  .sub_title {
    background-color: var(--background-color4);
    font-size: 12px;
    margin: 0;
    padding-top: 0px;
  }

  .text {
    font-size: 14px;
  }

  .action {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px 10px;
  }
}