:root {
    --max-width: 1100px;
    --border-radius: 12px;

    --text-color: #60574B;
    --background-color4: #eae9e5;
    --border-color: #03754F;
    --background-color1: #03754F;
    --background-color2: #FFFFFF;
    --background-color3: #E1F4EE;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    position: relative;
    max-width: 100vw;
    overflow-x: hidden;
    margin-top: 100px;
    background-color: #dee2e6 !important;
    direction: rtl;
    color: var(--text-color) !important;
    /*background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/gifts.jpg");*/
    /*background-size: 20%;*/
}

.btn-success {
    background-color: var(--border-color) !important;
    border-color: var(--border-color) !important;
}

.btn-info {
    background-color: var(--background-color2) !important;
    border-color: var(--border-color) !important;
}

.btn-info:hover {
    background-color: var(--background-color3) !important;
}

.btn {
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

.btn-close {
    margin-left: 0 !important;
}
