:root {
    --max-width: 1100px;
    --border-radius: 12px;

    --text-color: #000;
    --bg-color: rgba(21, 76, 121, 0.8);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    position: relative;
    max-width: 100vw;
    overflow-x: hidden;
    margin-top: 100px;
    background-color: #dee2e6 !important;
    direction: rtl;
    color: var(--text-color) !important;
    /*background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/gifts.jpg");*/
    /*background-size: 20%;*/
}

.btn-close {
    margin-left: 0 !important;
}

.btn-primary {
    --bs-btn-bg: rgb(300, 135, 65) !important;
    --bs-btn-border-color: rgb(300, 135, 65) !important;
    --bs-btn-hover-bg: rgb(300, 105, 65) !important;
    --bs-btn-hover-border-color: rgb(300, 105, 65) !important;
    --bs-btn-active-bg: rgb(300, 135, 65) !important;
    --bs-btn-active-border-color: rgb(300, 135, 65) !important;
}

.btn-outline-primary {
    --bs-btn-color: rgb(300, 135, 65) !important;
    --bs-btn-border-color: rgb(300, 135, 65) !important;
    --bs-btn-hover-bg: rgb(300, 105, 65) !important;
    --bs-btn-hover-border-color: rgb(300, 105, 65) !important;
    --bs-btn-active-bg: rgb(300, 135, 65) !important;
    --bs-btn-active-border-color: rgb(300, 135, 65) !important;
}