.header {
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    background-color: var(--background-color4);
    margin-bottom: 20px;
    padding: 5px 30px;
    border-bottom: 1px solid var(--border-color);
}

.header > a {
    color: var(--background-color4);
}

.logo_container {
    height: 45px;
    margin-left: 0;
    border-left: 1px solid black;
}

.logo {
    width: 100%;
    height: 100%;
}

.social_container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-self: center;
    margin-left: 0;
    margin-right: auto;
}
